<form action="{{ url_for('index') }}" method="post">
    {{ form.hidden_tag() }}

    <h2>Step 1: Enter your information:</h2>

    <div class="formFields">
        {{ form.given_name(class='input', placeholder='First Name') }}
        {% for error in form.given_name.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        {{ form.family_name(class='input', placeholder='Last Name') }}
        {% for error in form.family_name.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        {{ form.email(class='input', placeholder='Email') }}
        {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        {{ form.postal_code(class='input', placeholder="Zip Code") }}
        {% for error in form.postal_code.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        {{ form.phone_number(class='input', placeholder="Phone Number") }}
        {% for error in form.phone_number.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        {{ form.recaptcha }}

    </div>

    <h2>Step 2: Press this button.</h2>

    <p>When you do, a machine will call your Members of Congress and play the recording of Donald
        Trump defending Nazis shortly after they murdered a peaceful protestor.</p>

    <button class="callButton" id="firstCall">Auto-Dial Congress</button>
</form>