[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
phonenumbers = "*"
gunicorn = "*"
requests = "*"
redis = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.7"
