/* NOTES

colors:
Primary green: #1AF2B7;
Secondary blue: #1A66F2;
Black: #1E1E1E;
White: #ffffff;

headline font:
UK Number Plate;

H2
Gobold (family)

Neither are in google fonts or typekit --> alts would be very welcome.

/*

/* Global stuff */

    .hidden {
        display:none;
    }

    .clear {
        clear:both;
    }

    .noDecoration {
        text-decoration: none;
        color:inherit;
    }

/* TYPOGRAPHY */
    body {
        margin:0;
        text-align: center;
        font-family:'Open Sans';
    }

    p {
        margin-top:0;
        font-size:1em;
    }

    h1 {
        color: #1AF2B7;
        font-size:4em;
        margin-bottom:20px;
        font-family:'Gobold Regular';
    }

    h2 {
        font-size:2em;
        margin-bottom:15px;
        text-transform: uppercase;
        font-family: 'Gobold Regular';
        text-decoration:underline;
        text-decoration-color:#1AF2B7;
    }

    h3 {

    }

    @font-face {
        font-family: Gobold Regular;
        src: url("../fonts/Gobold Regular.otf") format('opentype');
        font-style: normal;
    }

    @font-face {
        font-family: UKNumberPlate;
        src: url("../fonts/UKNumberPlate.ttf") format('truetype');
        font-style: normal;
    }


/* MAIN CSS */

    .content {
        margin:0 auto;
        display:block;
        width:800px;
        max-width:94%;
        padding:1% 3%;
    }

    .topContent {
        padding:3%;
        font-weight:700;
    }

    .top {
        background-color: #1e1e1e;
        color:#ffffff;
        padding-bottom:8%;
    }

    .input {
        height: 40px;
        border: 1px solid #d3d3d3;
        vertical-align: bottom;
        border-radius: 5px;
        font-size: 1em;
        text-indent: 10px;
        width: 100%;
        margin-right:1%;
        color:grey;
        padding:0px;
        margin-bottom:10px;
        box-sizing: border-box;
    }

    div.g-recaptcha {
        display: inline-block;
    }

    /**
    #shareContent {
        opacity:0;
    }

    #callContent, #shareContent {
        transition-duration: .7s;
        -webkit-transition-duration: .7s;
        padding-bottom:0;
    }
    */

    .FAQs {
        padding:0 3% 3%;
        margin:0 auto;
        display:block;
        width:1200px;
        max-width:94%;
        padding:1% 3%;
    }

    .faqColumn {
        text-align:left;

    }

    .faqQuestion {
        font-weight:800;
        margin-top:15px;
    }

    .faqAnswer {
        margin-bottom:40px;
    }


/* FOOTER CSS */

    .footer {
        background-color:#1e1e1e;
        padding:1%;
    }

    .footerLogo {
        margin:0 auto;
        display:block;
        width:140px;
    }

/* SECTIONS OF PAGE BACKGROUNDS CSS */

/* Buttons */

    .shareButtons {
        width:100%;
        margin-bottom:25px;
    }

    button, .button {
        display: inline-block;
        text-align: center;
        width:100%;
        padding:8px 0;
        margin-bottom:10px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color:#ffffff;
        border-radius: 5px;
        cursor: pointer;
        border-style: none;
        font-family:'gobold Regular';
    }

    button {
        font-size:2em;
        background: #1AF2B7;
        box-shadow: 0 0.1em 0 #0cd8a1;
        margin-bottom:20px;
    }

    button:hover {
        background: #0cd8a1;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .button:hover {
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
    }

    .facebook {
        background: #3b5998;
        box-shadow: 0 0.18em 0 #4061a6;
    }

    .facebook:hover {
        background:#4061a6;
    }
    
    .twitter {
        background: #1DA1F2;
        box-shadow: 0 0.18em 0 #0d8ddb;
    }

    .twitter:hover {
        background: #0d8ddb;
    }
    
    .whatsapp {
        background: #25D366;
        box-shadow: 0 0.18em 0 #22c25e;
    }

    .whatsapp:hover {
        background: #22c25e;
    }

    .instashare {
        font-size:.8em;
        font-style:italic;
    }

    .instashareImage {
        width:250px;
        margin:10px auto;
    }

/* Blog Posts on Home Page */


@media screen and (min-width: 700px) {

    /* Type */

        body {
            background-size:100%;
        }

        h1 {
            font-size:5em;
        }

        h2 {
            font-size:3em;
        }

        h3 {

        }

        p {

        }

    /* MAIN */

        .content {
            max-width:80%;
        }

        .topContent {
            padding-top:100px;
        }

        .input {
            width: 95%;
        }

        span.error {
            display: block;
            color: red;
            margin-top:-10px;
            margin-bottom: 5px;
        }


        .faqColumn {
            display:inline;
            width:45%;
            margin:0 2.5%;
            float:left;
        }

    /* button styles */

        .callButton {
            width:400px;
        }

        .shareButtons {
            margin:0 auto 5px;
        }

        .button {
            width:200px;
            margin:0 2px 10px;
        }

}

@media screen and (min-width: 1000px) {

        .content {
            max-width:45%;
        }

        .input {
            width: 95%;
        }

}    