<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="By the People">
    <meta property="og:title" content="Make them listen. Make them impeach."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.makethemlisten.us"/>
    <meta property="og:image" content="images/Facebook Image.png"/>
    <meta property="og:site_name" content="Make Them Listen"/>
    <meta property="fb:admins" content="612663871"/>
    <meta property="og:description"
          content="Play tapes of Trump’s high crimes for your members of Congress to demand they remove the Trump Administration."/>
    <meta property="twitter:title" content="Frustrated with Congress refusing to remove Trump? Maybe this will help."/>
    <meta property="twitter:description" content=" Play tapes of Trump’s high crimes for your Member of Congress."/>
    <meta name="twittertext"
          content="If you’re frustrated with Congress refusing to remove Trump - maybe this will help. Play tapes of Trump’s high crimes for your Member of Congress."/>

    <title>#MakeThemListen</title>
    <link href="{{ url_for('static', filename='css/baseline.css') }}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/core.js") }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>

</head>
<body>

<div class="top">

    <div class="content topContent">

        <h1 id="mainTitle">#MakeThemListen</h1>

        <p>Donald Trump confessed on tape to committing sexual assault. Follow these two easy steps to make your Members
            of Congress listen to the recording.</p>

    </div>
</div>

<div class="steps" id="steps">

    {% block content %}{% endblock %}

    <div class="FAQs">

        <h2>Frequently Asked Questions</h2>

        <div class="faqColumn">

            <p class="faqQuestion">Is this real? Will my Member of Congress listen?</p>
            <p class="faqAnswer">Yes and yes. This is a completely serious service for anyone who wants to contact their
                elected officials. Their staff will pick up the phone and listen to your message, which will include
                your name and the fact that you are a constituent.</p>

            <p class="faqQuestion">What am I asking Congress to do?</p>
            <p class="faqAnswer">Remove Donald Trump from office because of his confession of sexual assault and cover
                ups for other abusers in his White House. He is not above the law, and should be treated in the same way
                as other powerful men in Congress and elsewhere when their history of abuse was revealed.</p>
        </div>
        <div class="faqColumn">

            <p class="faqQuestion">How will they know who's calling?</p>
            <p class="faqAnswer">By default we include your name and zip code at the start of the call.</p>

            <p class="faqQuestion">Does it cost anything?</p>
            <p class="faqAnswer">This page is free to use, but every call costs the creators of this site a small
                amount. If you want to pitch in to support more projects like this, <a
                        href="https://actionnetwork.org/fundraising/support/" target="_blank">click here</a>.</p>

            <p class="faqQuestion">Why shouldn’t I just call Congress myself?</p>
            <p class="faqAnswer">You can! There is nothing wrong with a regular call, but Trump’s confession of sexual
                assault speaks for itself, and we thought this was more efficient.</p>

        </div>

        <div class="clear">

        </div>

    </div>

    <div class="footer">
        <img class="footerLogo" src="{{ url_for('static', filename='images/logo.svg') }}">
    </div>
</div>
</body>
</html>
