<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="By the People">
    <meta property="og:title" content="Make them listen. Make them impeach."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.makethemlisten.us"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/Facebook Image.png') }}"/>
    <meta property="og:site_name" content="Make Them Listen"/>
    <meta property="fb:admins" content="612663871"/>
    <meta property="og:description"
          content="Play tapes of Trump’s high crimes for your members of Congress to demand they remove the Trump Administration."/>
    <meta property="twitter:title" content="Frustrated with Congress refusing to remove Trump? Maybe this will help."/>
    <meta property="twitter:description" content=" Play tapes of Trump’s high crimes for your Member of Congress."/>
    <meta name="twittertext"
          content="Send a recording of Donald Trump defending Nazis after they murdered a peaceful protester to your members of Congress to demand they remove him from office: MakeThemListen.us"/>

    <title>#MakeThemListen</title>
    <link href="{{ url_for('static', filename='css/baseline.css') }}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/core.js") }}" rel="stylesheet"></script>
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>

</head>
<body>

<div class="top">

    <div class="content topContent">
        <h1 id="mainTitle">#MakeThemListen</h1>

        <p>Play a recording of Trump’s most impeachable moments for your Members of Congress to demand his
            administration be removed from office. </p>
    </div>
</div>

<div class="steps" id="steps">

    {% block content %}{% endblock %}

    <div class="FAQs">

        <h2>Frequently Asked Questions</h2>

        <div class="faqColumn">

            <p class="faqQuestion">Is this real? Will my Member of Congress listen?</p>
            <p class="faqAnswer">Yes and yes. This is a completely serious service for anyone who wants to contact their
                elected officials. Their staff will pick up the phone and listen to your message, which will include
                your name and the fact that you are a constituent.</p>

            <p class="faqQuestion">What am I asking Congress to do?</p>
            <p class="faqAnswer">Remove Donald Trump from office through impeachment. He is separating families and
                abusing children, discriminating against our people for their religion, encouraging white supremacists,
                obstructing justice and working with a foreign dictator to undermine our democracy. Impeachment will
                protect us from this president and make it possible to build a country that finally works for all of
                us.</p>

        </div>
        <div class="faqColumn">
            <p class="faqQuestion">What does the recording say?</p>
            <p class="faqAnswer">“Hello [Representative’s Name]. Your constituent [Your name] from zip code [your zip
                code] thinks the following recording justifies the impeachment of Donald Trump: [recording plays]. Their
                number is [your number].” That’s all.</p>

            <p class="faqQuestion">Why shouldn’t I just call Congress myself?</p>
            <p class="faqAnswer">You can! There is nothing wrong with a regular call, but Trump’s confession of sexual
                assault speaks for itself, and we thought this was more efficient.</p>

            <p class="faqQuestion">Does it cost anything?</p>
            <p class="faqAnswer">This page is free to use, but every call costs the creators of this site a small
                amount. If you want to pitch in to support more projects like this, <a
                        href="https://actionnetwork.org/fundraising/support/" target="_blank">click here</a>.</p>

        </div>

        <div class="clear">

        </div>

    </div>

    <div class="footer">
        <img class="footerLogo" src="{{ url_for('static', filename='images/logo.svg') }}">
    </div>
</div>
</body>
</html>
