{% extends 'base.html' %}

{% block content %}
    <div class="content" id="shareContent">
        <a name="share"></a>
        <h2>Great!</h2>

        <p>
            We're calling
            {% for rep in reps %}
                {% if loop.last and loop.length > 1 %}
                    and {{ rep.name }}
                {% else %}
                    {{ rep.name }}{% if loop.length > 1 %},{% endif %}
                {% endif %}
            {% endfor %}
            on your behalf right now.
        </p>

        <h2>Step 3: Share</h2>

        <div class="shareButtons">
            <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.makethemlisten.us" class="button facebook" target="_blank">Share on Facebook</a>
            <a href="https://twitter.com/intent/tweet?text=Send a recording of Donald Trump defending Nazis after they murdered a peaceful protester to your members of Congress to demand they remove him from office: MakeThemListen.us" class="button twitter" target="_blank">Share on Twitter</a>
            <a href="whatsapp://send?text=http://www.makethemlisten.us" class="button whatsapp">Share on WhatsApp</a>
        </div>

        <div class="instashare">
            <a href="{{ url_for('static', filename='images/MakeThemListenImage.png') }}" class="noDecoration" download><img class="instashareImage" src="{{ url_for('static', filename="images/MakeThemListenImage.png") }}">
                <p>Click here to download this image to share on Instagram</p></a>
        </div>

        {% include 'forms/make_call_again.html' %}

        <h2>Step 4: Stay tuned.</h2>

        <p> Because unfortunately it takes more than a website to kick out a President.</p>

    </div>
{% endblock %}