{% extends 'base.html' %}

{% block content %}

    <div class="content" id="shareContent">

        <h2>Great!</h2>

        <p>We're calling all your Members of Congress on your behalf right now.</p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message|safe }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <p style="font-weight: bold;">Can you share this with your friends so they can auto-dial Congress, too?</p>

        <div class="shareButtons">
            <a href="#" class="button facebook">Share on Facebook</a>
            <a href="#" class="button twitter">Share on Twitter</a>
            <a href="#" class="button whatsapp">Share on WhatsApp</a>
        </div>

        <div class="instashare">
            <a href="#" class="noDecoration"><img class="instashareImage" src="{{ url_for('static', filename="images/Dialer Promo 1.png") }}" download>
                <p>Click here to download this image to share on Instagram</p></a>
        </div>

        {% include 'forms/make_call_again.html' %}

        <h2>Stay tuned.</h2>

        <p> Because unfortunately it takes more than a confession and this website to kick out a President.</p>

    </div>
{% endblock %}